@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex {
  display: flex;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.banner,
.navbar {
  max-width: 1440px;
  margin: 0 auto;
}

/* dark 01 */
.text-dark-gray {
  color: #131313;
}

/* dark 02 */
.text-gray {
  color: #424242;
}

/* dark 03 */
.text-light-gray {
  color: #727272;
}

.text-primary {
  color: #ff900e;
}

.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

section {
  margin-top: 130px;
}

/* header style */
.brand {
  font-size: 3rem;
  font-weight: 700;
}

/* navbar  related style */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
}

/* banner related style */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-titile {
  font-size: 4rem;
}

.banner-img {
  width: 100%;
}

/* main style */
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* teams related style */
.teams {
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  margin-left: 130px;
  max-width: 530px;
}

#quick-list {
  font-weight: 500;
}

.feature-description {
  margin-top: -25px;
  margin-bottom: 25px;
}

/* some facts related style */
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 80px;
}

.fact-card {
  border: 1px solid #ff900e;
  width: 241px;
  height: 241px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 6px;
  color: #424242;
}

.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  color: #727272;
}

.fact-description {
  max-width: 540px;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .nav-links,
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    align-items: center;
    gap: 10px;
  }

  .banner-titile {
    font-size: 3rem;
  }

  /* teams related style */
  .teams {
    flex-direction: column;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .our-features {
    margin-left: 20px;
  }

  /* some facts related style */
  .some-facts {
    text-align: center;
  }

  .facts-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-items: center;
  }

  .fact-description {
    margin: 0 auto;
  }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* teams related style */
  .teams {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .our-features {
    margin-left: 20px;
    text-align: center;
  }

  .section-title {
    margin-top: 0;
  }

  /* some facts related style */
  .some-facts {
    text-align: center;
  }

  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .fact-description {
    margin: 0 auto;
  }
}
