@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex {
  display: flex;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.banner,
.navbar {
  max-width: 1440px;
  margin: 0 auto;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

/* dark 01 */
.text-dark-gray {
  color: #131313;
}

/* dark 02 */
.text-gray {
  color: #424242;
}

/* dark 03 */
.text-light-gray {
  color: #727272;
}

.text-primary {
  color: #ff900e;
}

p {
  line-height: 1.5;
}

.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

section {
  margin-top: 130px;
}

/* header style */
.brand {
  font-size: 3rem;
  font-weight: 700;
}

/* navbar  related style */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
}

/* banner related style */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-titile {
  font-size: 4rem;
}

.banner-img {
  width: 100%;
}

/* main style */

/* teams related style */
.teams {
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  margin-left: 130px;
  max-width: 530px;
}

#quick-list {
  font-weight: 500;
}

.feature-description {
  margin-top: -25px;
  margin-bottom: 25px;
}

/* features will enjoy section */
.features {
  gap: 130px;
}

.features-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
  margin-top: 0;
}

.features-description {
  max-width: 586px;
  margin-bottom: 30px;
}

.feature-card {
  max-width: 886px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 30px #00000009;
  margin-bottom: 20px;
}

.feature-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
}

.feature-card-description {
  margin: 0;
}

.experience-badge {
  padding: 45px 42px;
  margin-left: -92px;
  margin-top: -123px;
}

.experience-year {
  font-size: 4rem;
  font-weight: 700;
  /* margin-top: 0;
    margin-bottom: 10px; */
}

.feature-img img {
  width: 100%;
}

/* some facts related style */
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 80px;
  justify-items: center;
}

.fact-card {
  border: 1px solid #ff900e;
  width: 241px;
  height: 241px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 6px;
  color: #424242;
}

.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  color: #727272;
}

.fact-description {
  max-width: 540px;
}

/* our-sponsors related style */
.sponsors-info {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.sponsors-title {
  color: #131313;
  margin-bottom: 24px;
}

.sponsors-description {
  margin: 0;
}

.sponsors-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.sponsors-companies {
  filter: grayscale(100%);
}

.footer-content {
  max-width: 1440px;
  margin: 130px auto 216px auto;
  padding: 38px 10px;
  text-align: center;
  background-color: #fff4e7;
  border-radius: 8px;
}

.footer-copywrite {
  text-align: center;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .nav-links,
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    align-items: center;
    gap: 10px;
  }

  .banner-titile {
    font-size: 3rem;
  }

  /* teams related style */
  .teams {
    flex-direction: column;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .our-features {
    margin-left: 20px;
  }

  .experience-badge {
    padding: 20px 25px;
    margin-top: 20px;
    margin-left: 10px;
  }

  .experience-year {
    font-size: 2rem;
    font-weight: 700;
  }

  /* feature will need enjoy */
  .features {
    gap: 130px;
    flex-direction: column;
  }

  /* some facts related style */
  .some-facts {
    text-align: center;
  }

  .facts-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-items: center;
  }

  .fact-description {
    margin: 0 auto;
  }

  /* our sponsors related style */
  .sponsors-companies {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 50px;
  }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* teams related style */
  .teams {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .our-features {
    margin-left: 20px;
    text-align: center;
  }

  .section-title {
    margin-top: 0;
  }

  /* feature will need enjoy */
  .features {
    gap: 130px;
    flex-direction: column;
  }

  .experience-badge {
    padding: 22px 26px;
    margin-top: 30px;
    margin-left: 20px;
  }

  .experience-year {
    font-size: 3rem;
    font-weight: 700;
  }

  /* some facts related style */
  .some-facts {
    text-align: center;
  }

  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .fact-description {
    margin: 0 auto;
  }

  /* our sponsors related style */
  .sponsors-companies {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 60px;
  }

  .figma {
    grid-column: span 2;
  }
}
